# Database PostgreSQL Configuration
POSTGRES_DB=scoutboard_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_PORT=5432

# pgAdmin UI Configuration
PGADMIN_EMAIL=admin@scoutboard.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=8080

# Database Connection String for NestJS Backend
DATABASE_URL=postgresql://postgres:postgres123@localhost:5432/scoutboard_db?schema=public
